/* krecipe.css */

/* 기본 스타일 지정 */
.node {
  fill: #6699cc; /* 변경된 노드 색상 */
  stroke: #fff;
  stroke-width: 3px; /* 변경된 스트로크 너비 */
}
.link {
  stroke: #aaa; /* 변경된 링크 색상 */
  stroke-opacity: 0.6;
}

/* 툴팁 스타일 */
.tooltip {
  position: absolute;
  text-align: center;
  width: 160px; /* 툴팁의 너비를 더 넓게 조정 */
  padding: 10px; /* 툴팁의 패딩을 더 넓게 조정 */
  font: 14px sans-serif; /* 폰트 크기를 더 크게 조정 */
  background: rgba(0, 0, 0, 0.8); /* 배경색을 반투명 검정으로 변경 */
  color: #fff; /* 글자 색상을 흰색으로 변경 */
  border: 1px solid #fff; /* 테두리 추가 및 색상 변경 */
  border-radius: 10px; /* 테두리의 모서리를 둥글게 조정 */
  pointer-events: none;
  opacity: 0; /* 초기에 툴팁을 숨김 */
  transition: opacity 0.3s; /* 툴팁 표시/숨김 애니메이션 */
  z-index: 999; /* 다른 요소 위에 나타나도록 z-index 설정 */
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%); /* 삼각형 위치 조정 */
}

/* 툴팁 호버 시 표시 애니메이션 */
.tooltip:hover {
  opacity: 1;
}

