/* Bootstrap CSS를 임포트한 후에 커스텀 CSS를 임포트합니다. */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* 상단 바 */
.dashboard-header {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

/* 사용자 메시지 */
.user-message {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
}

/* 카테고리 카드 */
.category-card {
  margin: 10px;
  cursor: pointer;
  transition: transform .2s; /* 애니메이션 효과 */
}

/* 카드 호버 효과 */
.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* 선택된 카테고리 효과 */
.category-card.selected {
  border: 2px solid #007bff; /* 선택된 카테고리에 테두리 추가 */
  transform: scale(1.03); /* 약간 확대 */
}

/* 액션 버튼 스타일링 */
.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.action-buttons .btn {
  flex-grow: 1;
  margin: 0 10px;
  transition: background-color .3s, transform .2s;
}

.action-buttons .btn:hover {
  background-color: #adb5bd;
  transform: translateY(-2px); /* 버튼을 살짝 올림 */
}

/* 반응형 조정 */
@media (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
  }
  
  .action-buttons .btn {
    margin-bottom: 10px;
  }
}

.sidebar {
  padding: 20px;
  background: #f8f9fa; /* 사이드바 배경색 */
}

.category {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #333; /* 텍스트 색상 */
  font-weight: bold;
}

/* 추가된 스타일 */

/* 카테고리 카드에 아이콘 추가 */
.category-card .card-title:before {
  font-family: 'Font Awesome 5 Free'; /* FontAwesome 아이콘 폰트 */
  content: '\f06b'; /* 예시 아이콘 코드 */
  margin-right: 10px;
}

/* 액션 버튼 크기 조정 */
.action-buttons .btn {
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 10px;
}

/* 호버 효과 및 그림자 추가 */
.action-buttons .btn:hover {
  background-color: #adb5bd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* 반응형 조정 추가 */
@media (max-width: 768px) {
  /* 필요한 경우 여기에 추가 스타일 */
}

/* App.css */
.main-content {
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
}

.item-action-buttons button {
  margin-right: 30px;
}
